footer, .hero {background-color: #1F2937;
    ;
    }
   
    .hero .main-text {font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;}
    .subtext {padding: 20px;
        width: 130px;
        height: 150px;
    }
    .image {width: auto;
        border: 3px solid rgb(0, 255, 98);
        border-radius: 10px;
    height: auto;}
    .maintext {
        display: flex;
        justify-content: center;
        
        }
    .header {display: inline-block;
        margin: 5px;
    margin-bottom: 60px;}
    .three, .two, .one{display: inline;
    float: right;}
    .main {font-size: 24px;
       
    color: #F9FAF8;}
    .one, .two, .three, .secondary {color: #e5e7eb;
    font-size: 18px;}
    button{padding-left: 20px;
        border-radius: 10px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #3882f6;
    }
    .quote {background-color: #e5e7eb;}
    .info-header {color:#1F2937;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    font-size: 36px;
    font-weight: 900;}
    .quote .text {font-size: 36px;
        padding-right: 300px;
        padding-left: 300px;
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-style: italic;
        font-weight: 100;
    color: #1F2937;}
    .author {padding-top: 0px;
        text-align: right;
        
        margin-top: 0px;
        padding-bottom: 50px;
    margin-right: 300px;}
    footer {text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;}
    .call-to-action {color: #F9FAF8;
        padding-left: 100px;
        display: flex;
        margin-top: 80px;
        margin-left: 200px;
        margin-right: 200px;
        padding-bottom: 50px;
        margin-bottom: 80px;
    background-color: #3882f6;}
    .action {font-size: 20px;
    font-weight: 800;
    padding-top: 20px;
    margin-bottom: 0px;}
    .final {border: 3px solid white;
        margin-top: 40px;
        margin-left: 50px;
        color: #F9FAF8;}
    img {
    display: inline-block;}
    header {margin-left: 250px;
        padding-top: 15px;
    margin-right: 290px;}
    .hero-text {width: 45%;
        padding-right: 20px;}
    .cat {width: 370px;
        margin-top: 20px;
        padding-left: 20px;
        height: 180px;
    }
    .herot {display: flex;
    padding-left: 250px;
    padding-right: 250px;}
    
    .image {width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    }
    .contact {margin-bottom: 50px;
    margin-top: 10px;
    }